.app-header {
  padding: 2em;
  background: $darkest-color;
  text-align: center;
}

.app-header-avatar {
  max-width: 12rem;
  max-height: 12rem;
  border-radius: 100%;
  border: 0.5rem solid $primary-color;
}

.app-container {
  padding: 2.5rem;
}

.app-header-social {
  font-size: 2em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

.app-container {
    & > article {

        & > .categories {
            width: 100%;
            margin: 0 auto;
            line-height: 2;
            margin-top: 2em;
            padding: 1em 2em;
            font-weight: bold;
            border: 2px dashed $primary-color;

            h1 { margin: 0; }

            ul {
                padding: 0;
                list-style: none;

                & .cat-link {
                    line-height: 2;
                    color: #898989;
                    text-transform: capitalize;
                }
            }
        }
    }
}

@media (min-width: 940px) {
  .app-header {
    top: 0;
    left: 0;
    width: 35em;
    position: fixed;
    min-height: 100vh;

    & > p {
        width: 63%;
        margin: 1em auto;
        font-size: 1.4em;
    }
  }

  .app-container {
    margin-left: 35em;
  }
}
