.app-header {
  padding: 2em;
  color: white;
  text-align: center;
  background-color: #123545;
}

.app-header-avatar {
  max-width: 9rem;
  max-height: 9rem;
  border-radius: 50%;
  border: 5px solid $primary-color;
}

.app-container {
  padding: 2.5rem;
}

.app-header-social {
  font-size: 2em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

.app-container {
    & > article {
      padding: 1em 0;
      border-top: 1px solid #e7e7e7;

        & > .categories {
            width: 100%;
            line-height: 2;
            margin-top: 2em;
            padding: 1em 2em;
            font-weight: bold;
            max-width: 600px;
            border: 2px dashed $primary-color;

            h1 { margin: 0; }

            ul {
                padding: 0;
                list-style: none;

                & .cat-link {
                  text-transform: uppercase;
                  font: bold 13px/2 'Roboto',sans-serif;
                }
            }
        }
    }
}

@media (min-width: 940px) {
  .app-header {
    top: 0;
    left: 0;
    width: 30rem;
    position: fixed;
    min-height: 100vh;

    & > p {
        width: 75%;
        margin: 1em auto;
        font-size: 1.2em;
    }
  }

  .app-container {
    margin-left: 30rem;
  }
}
