.posts-list {
  width: 100%;
  padding: 0;
}

.posts-list-item {
  list-style: none;
  padding: .5em 0;
  padding-bottom: 1em;
  margin-bottom: .5em;
  border-bottom: 2px dashed rgba(0, 0, 0, .2);

  &:last-child {
      border-bottom: 0;
  }

  .posts-list-item-title {
      font-size: 1.2em;
  }

  .cat-tag {
      margin-left: .5em;
      color: $primary-color;
      padding: 0 .5em;
      border-radius: 3px;
      border: 1px solid lightgray;
  }
}

.posts-list-item-description {
  display: block;
  font-size: 0.8em;
}

@media screen and (max-width: 670px) {
    .posts-list {
        width: 100%;
    }
}
