.post-title {
  color: $lightest-color;
}

.post-content {
  color: $lightest-color;
  font-size: 16px;
  line-height: 1.75;

  pre {
    padding-left: 1em;
    border-left: 0.4em solid rgba($primary-color, .8);

    @media all and (max-width: 1024px) {
      font-size: 12px;
    }
  }
}

.post-meta {
  font-size: 14px;
  line-height: 2;
  letter-spacing: .5px;
}
