
.posts {

  & > h2 {
    font-weight: 500;
    color: $lightest-color;
  }
}

.posts-list {
  width: 100%;
  padding: 0;
}

.posts-list-item {
  list-style: none;
  padding: .5em 0;
  padding-bottom: 1em;
  margin-bottom: .5em;
  border-bottom: 2px dashed rgba(0, 0, 0, .2);

  &:last-child {
      border-bottom: 0;
  }

  .posts-list-item-title {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: .5em;
      display: inline-block;
      letter-spacing: .5px;
  }

  .cat-tag {
      border: 0;
      color: white;
      padding: .5em;
      font-size: 10px;
      margin-left: .5em;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: #4592ea;
  }
}

.posts-list-item-description {
  display: block;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 670px) {
    .posts-list {
        width: 100%;
    }
}
