.posts-list {
  width: 100%;
  padding: 0;
}

.posts-list-item {
  list-style: none;
  padding: .5em 0;
  margin-bottom: .5em;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);

  .posts-list-item-title {
      font-size: 1.1em;
  }

  .cat-tag {
      float: right;
      color: white;
      padding: 0 .5em;
      border-radius: 3px;
      border: 1px solid gray;
  }
}

.posts-list-item-description {
  display: block;
  font-size: 0.8em;
}

@media screen and (max-width: 670px) {
    .posts-list {
        width: 100%;
    }
}
